.smovie{
    display:flex;
    flex-direction: column;
}
.smovie-details{
position: relative;
bottom:450px;
}
.smovie-details-r{
    position: relative;
    top:35px;
    right:50px;
}
.smovie-details-rr{
    position: relative;
    top:50px;
    right:150px;
}
.smovie-details-det{
    position: relative;
top:100px;
right:70px;
}
.bbutton{
    position:relative;
    top:170px;
    right:100px;

}
.rbutton{
    position:relative;
    top:70px;
    right:160px;
}